.wrapper {
  background: url("../../assets//BlurredImage.webp") no-repeat fixed center;
}
.kategorie-wrapper {
  height: 14%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #e6e7e7;
  border-radius: 10px;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  font-family: "Space Grotesk", sans-serif;
}
.card-list {
  height: auto;
  width: 100%;
  background-color: #e6e7e7;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  margin-left: -0.6rem;
  display: flex;
  flex-wrap: wrap;
  font-family: "Space Grotesk", sans-serif;
}
.dropdown-button {
  text-transform: capitalize;
  width: 16rem;
  margin-right: 0.5%;
  display: flex;
  justify-content: space-between;
}
.dropdown-container {
  display: flex;
  flex-direction: row;
}

.card {
  width: 100%;
  margin-bottom: 1rem;
  font-family: "Space Grotesk", sans-serif;
}
.card:hover .additional-info {
  display: block;
}
.card-image {
  width: 100%;
  height: auto;
}
.additional-info {
  margin-top: 0.5rem;
  display: none;
  font-family: "Space Grotesk", sans-serif;
}

.nextui-c-BDLTQ .nextui-image {
  border-radius: 12px;
  width: 100%;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .dropdown-container,
  .kategorie-wrapper {
    display: flex;
    flex-direction: column;
  }
  .dropdown-button {
    margin-bottom: 1rem;
  }
}
