.Dropdown {
  border: 0;
  font-size: 14px;
  font-weight: 500;
}
select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px;
  /*border: none; - if you want the border removed*/
}
